<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brian.hungrycaterpillar"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:icon,android:theme,android:label"
        android:label="@string/HungryCaterpillarStrings"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PageActivity"
            android:screenOrientation="landscape"
            ></activity>
        <activity
            android:name=".End"
            android:screenOrientation="landscape"
            ></activity>
        <activity
            android:name=".ExitActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:autoRemoveFromRecents="true"/>
    </application>

</manifest>